@use "sass:map";
@use "../base/variables";

.text {
  font-family: "IBM Plex Mono", monospace;
  font-family: "ClashDisplay-Variable";
  font-style: normal;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: map.get(variables.$colors, text-main);

  &--header {
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    margin: 0;
  }

  &--display {
    font-size: 96px;
    font-weight: 275;
    padding: 0;
    margin: 0;
    line-height: 110%;
    color: map.get(variables.$colors, text-display);

    @media screen and (max-width: 500px) {
      font-size: 48px;
    }
  }

  &--listTitle {
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    margin: 0;
  }

  &--project {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
  }

  &--projectTitle {
    font-size: 32px;
    font-weight: 500;
    padding: 0;
    margin: 0;
  }

  &--paragraphTitle {
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    margin: 0;
  }

  &--p {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
  }
}
